{
  "threshold": 2,
  "nodes": [
    {
      "id": 1,
      "region": "eu-west-1",
      "key_name": "",
      "ssh_key": "",
      "ip": "",
      "private_ip": "",
      "sg_id": "",
      "vpc_id": "",
      "subnet_id": "",
      "s3_bucket": ""
    },
    {
      "id": 2,
      "region": "eu-west-1",
      "key_name": "",
      "ssh_key": "",
      "ip": "",
      "private_ip": "",
      "sg_id": "",
      "vpc_id": "",
      "subnet_id": "",
      "s3_bucket": ""
    },
    {
      "id": 3,
      "region": "us-east-2",
      "key_name": "",
      "ssh_key": "",
      "ip": "",
      "private_ip": "",
      "sg_id": "",
      "vpc_id": "",
      "subnet_id": "",
      "s3_bucket": ""
    }
  ]
}
